body {
    background-color: RGBa(255, 255, 000, 0.5);
    font-family: 'Indie Flower', cursive;

}

h1 {
    font-size: 35px;
    color: RGB(255, 000, 000); /* #FF0000 */
    font-style: italic;
}

p {
    font-size: 30px;
    color: #0000FF;
    font-weight: bold;
    font-style: italic;
    opacity: 0.9;
}

strong {
    border: 5px solid #88BB11;
}